body, html, .container {
    height: 100%;
    margin: 0;
    padding: 0;
}

img {
    width: 25em;
    
}

p {
    font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
    font-size: 1.2em;
}

p a {
    text-decoration: none;
    color: black;
    padding: 5px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}